/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* Global Styling */
* {
    font-family: 'Rubik', sans-serif; /* Apply Rubik font to all elements */
}

/* React Select Styling */

/* Adjust container height */
.register-select__value-container {
    height: 100%; /* Set container height */
}


/* Remove background color of autofill */
input:-webkit-autofill {

    -webkit-text-fill-color: #e5e7eb; /* Text color */
    -webkit-box-shadow: 0 0 0 30px transparent inset !important; /* Transparent background */
    transition: background-color 5000s ease-in-out 0s; /* Transition background */
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #13161a;
}

::-webkit-scrollbar-thumb{
    background-color: #3b8bbb;
}


/* Animations */

/* Slide Down */
.animate-slide-down {
    transform: translateY(-40rem); /* Initial position */
    opacity: 0; /* Initial opacity */
    animation: slideDown 0.5s forwards ease; /* Animation definition */
}

@keyframes slideDown {
    to {
        opacity: 1; /* Target opacity */
        transform: translateY(0); /* Target position */
    }
}

/* Close Slide Down animation */
.close-slide-down {
    transform: translateY(0);
    opacity: 1;
    animation: closeSlideDown 0.3s forwards;
}

@keyframes closeSlideDown {
    to {
        opacity: 0;
        transform: translateY(-40rem);
    }
}


/* Slide Up */
.animate-slide-up{
    transform: translateY(25rem);
    opacity: 0;
    animation: slideUp 0.5s forwards ease;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Slide Right */
.animate-slide-right{
    transform: translatex(-20rem);
    opacity: 0;
    animation: slideRight 0.5s forwards ease;
}
@keyframes slideRight {
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

/* Slide Left */
.animate-slide-left{
    transform: translatex(20rem);
    opacity: 0;
    animation: slideLeft 0.3s forwards ease;
}
@keyframes slideLeft {
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

/* Fade in */
.animate-fade-in{
    animation: fadeIn 0.3s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Fade out */
.animate-fade-out{
    animation: fadeOut 0.3s;
}
@keyframes fadeOut {
    0% { opacity: 1; }
     100% { opacity: 0; }
}

.custom-toast{
    top: 3rem;
}

::-webkit-scrollbar:horizontal {
    height: 0; /* Adjust the height of the scrollbar */
}